<template>
  <div>
    <topbar></topbar>
    <v-content> 
      <v-list-tile v-for="(item, index) in itemList" :key="index">
        <v-list-tile-content>
          <v-list-tile-title>{{item}}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-content>
  </div>
</template>

<script>
// @ is an alias to /src
import topbar from "@/components/topbar.vue";
import { mapState } from "vuex";

export default {
  name: "home",
  components: {
    topbar
  },
  computed: {
    itemList() {
      return this.$store.getters.getList;
    }
  },
  created: function() {
    this.updateList();
  },
  methods: {
    updateList: function() {
      this.$store.dispatch("setList");
    }
  }
};
</script>
