<template>
  <div>
    <v-toolbar :clipped-left="clipped" fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" :clipped="clipped" fixed app>
      <v-list-tile>
        <v-list-tile-title class="title">Application</v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-flex>
          <v-text-field v-model="start" type="number" label="Start value"></v-text-field>
        </v-flex>
      </v-list-tile>
      <v-list-tile>
        <v-flex>
          <v-text-field v-model="end" type="number" label="End value"></v-text-field>
        </v-flex>
      </v-list-tile>
      <v-list-tile>
        <v-btn block color="secondary" @click="createList">Generate</v-btn>
      </v-list-tile>
    </v-navigation-drawer>
  </div>
</template>


<script>
import { mapState } from 'vuex';
export default {
  data() {
    return {
      drawer: false,
      right: false,
      fixed: true,
      rightDrawer: false,
      clipped: false,
      title: "CloudSuite #4 Loop the loop VueJs + vuex",
      start: 1,
      end: 100
    };
  },

  created() {
    this.openDrawer(),
    this.createList()
  },

  methods: {
    openDrawer() {
      this.drawer = true;
    },
    createList() {
      this.$store.dispatch("setStart", this.start);
      this.$store.dispatch("setEnd", this.end);
      this.$store.dispatch("setList");
    }
  }
};
</script>
<style>
.theme--light.v-toolbar {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}
</style>